* {
    margin: 0; 
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    background: #808080;
}

p{
    color: #f0f0f0;
}

a {
    color:orange;
}

a:hover {
    color: blue;
}

.foot {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background: black;
}

.is-light {
    color:azure;
}

img {
    border-radius: 25px;
}

.sixty {
    width: 60%;
}

.date {
    color: blue;
}

@media screen and (max-width: 1023px){
    .sixty {
        width: 90%;
    }
}