<footer class="foot">
	<div class="content has-text-centered">
		<p class="is-light">
			Sketching with Hardware - WS 2022/23 - Übungsprojekt <strong class="is-light"> Wetter Station </strong>
		</p>
		<p class="is-light">
			Copyright &#169; Josef Mayer
		</p>
		<!-- <a class="is-light" href="/data">Tabellarische Daten</a> -->
	</div>
</footer>